# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Developer\Playing-Flappy-Bird-by-DQN-on-PyTorch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
